<h2>Semi-transparent dark panel inside of a section, parallax disabled</h2>

[%su_section border="none" image="http://lorempixel.com/1600/1200/abstract/6/" padding="40px 0px" text_shadow="none" parallax="no"]
[%su_panel shadow="none" border="none" background="rgba(0,0,0,0.7)" color="#ffffff"]Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin at sagittis lectus. In hac habitasse platea dictumst. Ut facilisis imperdiet dolor non rhoncus. Sed posuere nisi vitae hendrerit tincidunt. Ut felis sapien, lobortis vel risus eget, pharetra ultricies nibh. Nullam nisl erat, bibendum porta orci ut, scelerisque bibendum mauris. Suspendisse egestas, leo semper vulputate suscipit, libero tellus sodales nibh, quis fermentum dui urna vitae nulla. Vivamus lacinia, eros at condimentum molestie, turpis lectus faucibus felis, quis venenatis velit eros vitae lacus.[/%su_panel]
[/%su_section]

-----

<h2>Custom background color without image</h2>

[%su_section parallax="no" background="#DBF1F9" padding="100px 0px"]
[%su_panel]Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin at sagittis lectus. In hac habitasse platea dictumst. Ut facilisis imperdiet dolor non rhoncus. Sed posuere nisi vitae hendrerit tincidunt. Ut felis sapien, lobortis vel risus eget, pharetra ultricies nibh. Nullam nisl erat, bibendum porta orci ut, scelerisque bibendum mauris. Suspendisse egestas, leo semper vulputate suscipit, libero tellus sodales nibh, quis fermentum dui urna vitae nulla. Vivamus lacinia, eros at condimentum molestie, turpis lectus faucibus felis, quis venenatis velit eros vitae lacus.[/%su_panel]
[/%su_section]

-----

<h2>Light panel inside of a section</h2>

[%su_section image="http://lorempixel.com/1600/1200/abstract/2/" padding="200px 0px"]
[%su_panel]Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin at sagittis lectus. In hac habitasse platea dictumst. Ut facilisis imperdiet dolor non rhoncus. Sed posuere nisi vitae hendrerit tincidunt. Ut felis sapien, lobortis vel risus eget, pharetra ultricies nibh. Nullam nisl erat, bibendum porta orci ut, scelerisque bibendum mauris. Suspendisse egestas, leo semper vulputate suscipit, libero tellus sodales nibh, quis fermentum dui urna vitae nulla. Vivamus lacinia, eros at condimentum molestie, turpis lectus faucibus felis, quis venenatis velit eros vitae lacus.[/%su_panel]
[/%su_section]