<h2>Shadow + <img> tag</h2>

[%su_shadow inline="yes"]<img src="http://lorempixel.com/400/200/food/1/" />[/%su_shadow]

-----

<h2>Panel + left shadow</h2>

[%su_shadow style="left"][%su_panel shadow="none"]Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sollicitudin posuere urna, vitae iaculis ligula tincidunt id. Aliquam viverra ornare eros, tincidunt rutrum turpis pharetra in. In mollis nulla non nisi egestas pretium. Fusce in blandit lectus, id euismod orci[/%su_panel][/%su_shadow]

-----

<h2>Panel + right shadow</h2>

[%su_shadow style="right"][%su_panel shadow="none"]Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sollicitudin posuere urna, vitae iaculis ligula tincidunt id. Aliquam viverra ornare eros, tincidunt rutrum turpis pharetra in. In mollis nulla non nisi egestas pretium. Fusce in blandit lectus, id euismod orci[/%su_panel][/%su_shadow]

-----

<h2>Horizontal</h2>

[%su_shadow style="horizontal"][%su_note]Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sollicitudin posuere urna, vitae iaculis ligula tincidunt id. Aliquam viverra ornare eros, tincidunt rutrum turpis pharetra in. In mollis nulla non nisi egestas pretium. Fusce in blandit lectus, id euismod orci[/%su_note][/%su_shadow]

-----

<h2>Vertical</h2>

[%su_shadow style="vertical"][%su_note]Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sollicitudin posuere urna, vitae iaculis ligula tincidunt id. Aliquam viverra ornare eros, tincidunt rutrum turpis pharetra in. In mollis nulla non nisi egestas pretium. Fusce in blandit lectus, id euismod orci[/%su_note][/%su_shadow]

-----

<h2>Bottom</h2>

[%su_shadow style="bottom"][%su_note]Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sollicitudin posuere urna, vitae iaculis ligula tincidunt id. Aliquam viverra ornare eros, tincidunt rutrum turpis pharetra in. In mollis nulla non nisi egestas pretium. Fusce in blandit lectus, id euismod orci[/%su_note][/%su_shadow]

-----

<h2>Simple</h2>

[%su_shadow style="simple"][%su_note]Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sollicitudin posuere urna, vitae iaculis ligula tincidunt id. Aliquam viverra ornare eros, tincidunt rutrum turpis pharetra in. In mollis nulla non nisi egestas pretium. Fusce in blandit lectus, id euismod orci[/%su_note][/%su_shadow]

-----

<h2>Shadow + content slider</h2>

[%su_content_slider style="dark" effect="backSlide" arrows="yes" pages="yes"]
[%su_content_slide]
[%su_shadow style="simple"][%su_note]Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sollicitudin posuere urna, vitae iaculis ligula tincidunt id. Aliquam viverra ornare eros, tincidunt rutrum turpis pharetra in. In mollis nulla non nisi egestas pretium. Fusce in blandit lectus, id euismod orci[/%su_note][/%su_shadow]
[/%su_content_slide]
[%su_content_slide]
[%su_shadow style="simple"][%su_note]Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sollicitudin posuere urna, vitae iaculis ligula tincidunt id. Aliquam viverra ornare eros, tincidunt rutrum turpis pharetra in. Fusce in blandit lectus, id euismod orci[/%su_note][/%su_shadow]
[/%su_content_slide]
[/%su_content_slider]